<h1>Artículos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%if user_signed_in?%>
      <%if current_user.email == "lina@i.com"%>
        <h1 class="jumbotron"> Hola bebesote te amo toda una vida <3</h1>
<div>    __________________________s$______________s</div>
<div>    _________________________.s$$_____________s$</div>
<div>    ________________________s$$$’____________s$$</div>
<div>    ______________________.s$$$³´_______,___s$$³</div>
<div>    _____________________s$$$$³______.s$’___$$³</div>
<div>    ________________,____$$$$$.______s$³____³$</div>
<div>    ________________$___$$$$$$s_____s$³_____³,</div>
<div>    _______________s$___‘³$$$$$$s___$$$</div>
<div>    _______________$$____³$$$$$$s.__³$$s</div>
<div>    _______________³$.____³$$$$$$$s_.s$$$____s´</div>
<div>    _______________`$$.____³$$$$$$$_$$$$___s³</div>
<div>    ________________³$$s____³$$$$$$s$$$³__s$’</div>
<div>    _________________³$$s____$$$$$s$$$$’__s$$</div>
<div>    _____________`s.__$$$$___s$$$$$$$$³_.s$$³__s</div>
<div>    ______________$$_s$$$$..s$$$$$$$$$$$$$$³__s$</div>
<div>    ______________s$.s$$$$s$$$$$$$$$$$$$$$$_s$$</div>
<div>    _____________s$$$$$$$$$$$$$$$$$$$$$$$$$$$³</div>
<div>    ____________s$$$ssss$$$$$$$$$$$$$ssss$$$$$´</div>
<div>    ___________$$s§§§§§§§§§s$$$$$$s§§§§§§§§s$,</div>
<div>    ___________³§§§§§§§§§§§§§s$s§§§§§§§§§§§§s</div>
<div>    ___________§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§</div>
<div>    ___________³§§§§§§§§§§§§§§§§§§§§§§§§§§§§§</div>
<div>    ____________³§§§§§§§§§§§§§§§§§§§§§§§§§§§³</div>
<div>    _____________³§§§§§§§§§§§§§§§§§§§§§§§§§³</div>
<div>    ______________³§§§§§§§§§§§§§§§§§§§§§§§³</div>
<div>    ________________³§§§§§§§§§§§§§§§§§§§³</div>
<div>    __________________³§§§§§§§§§§§§§§§³</div>
<div>    ____________________³§§§§§§§§§§§³</div>
<div>    _______________________³§§§§§³</div>
<div>    _________________________³§³</div>
    </div>

      <%end%>
    <%end%>
    <div class="row"> 
      <% @articles.each do |article| %>
        <div class="container jumbotron col-md-5 ">
          <div class="row">
            <h1 class="display-8"><%= link_to article.title, article %></h1>
          </div>
          <div class="row">
            <%= article.body %>
          </div>
          <h3 class="row">categorias:</h3>
            <%article.categories.each do |categories_articles|%>
              <div class="row">
                <div class="badge badge-primary">
                  <%= categories_articles.name %><br>
                </div>
              </div>
            <%end%>
        </div>
      <% end %>
    </div>
  </tbody>
</table>

<br>
<%if user_signed_in? && current_user.is_editor?%>
  <%= link_to 'Nuevo artículo', new_article_path %>
<%end%>